
.column{
  margin-left: 70px;
  

  
}


/* Body */
body{
 background-color: rgb(45, 43, 43);
 color: rgb(174, 171, 171);
 padding: 1% 8%
} 

/* Fraction */
.fraction {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle; 
  margin: 0 0.2em 0.4ex;
  text-align: center;
  & > span{
    display: block;
    padding-top: 0.15em;
  }
  & span{
    &.fdn{
      border-top: thin solid rgb(174, 171, 171);
    }
    &.bar{
      display: none;
    }
  }
}

a {
  color: white
}

a:hover{
  color:grey
}